
body {
  font-family: 'Amiri', serif;
  background: #fefefe;
  color: #222;
  padding: 20px;
  line-height: 2;
  direction: rtl;
}

h1 {
  text-align: center;
  color: #004;
  margin-bottom: 40px;
  font-size: 32px;
}

.surah {
  margin-bottom: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.surah h2 {
  color: #008;
  margin-bottom: 10px;
  text-align: center;
}

.ayah {
  font-size: 20px;
}

.number {
  color: #444;
  font-size: 16px;
  margin-right: 10px;
}
